.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background: rgb(1, 5, 26);
    font-size: large;
  }
  
  .nav-brand {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 20px;

  }
  .navbar-link {
    margin: 20px;
  }
  


